# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
django_alpine_tailwindcss/*.log
django_alpine_tailwindcss/django_alpine_tailwindcss/local_settings.py
django_alpine_tailwindcss/db.sqlite3
django_alpine_tailwindcss/db.sqlite3-journal
**/__pycache__/
django_alpine_tailwindcss/static/*
django_alpine_tailwindcss/templates/*
django_alpine_tailwindcss/tables/migrations/*
!django_alpine_tailwindcss/tables/migrations/__init__.py

# npm
django_alpine_tailwindcss/boilerplates/node_modules